body {
	background-image: url('bg2.jpg');
	margin-left: 50;
	margin-right: 50;
	margin-top: 50;
	margin-bottom: 50;
	font-family: "Times New Roman", Serif;
	color: gray;
}

ul {
	float: center;
	display: inline;
	padding-right: 50;
	padding-left: 50;
}

li {
	display: inline;
}

a:link{
	text-decoration:none;
	color: #585858;
}

ul a:link{
	font-size: 30;
}

ul a:visited{
	color: #A4A4A4;
}

a:hover{
	color: #088A85;
}

footer{
	text-align: center;
	font-style: italic;
	font-size: 10;
}

p#description{
	margin-top: 70;

}

td{
	 border-bottom: solid 1px;
}

a#add{
	float:right;
}